<p id="notice"><%= notice %></p>

<h1>Your profile</h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Rank/Title/Position:</strong>
</p>

<p>
  <strong>Profession Discipline:</strong>
</p>

<p>
  <strong>Name & Complete Mailing Address Of Organization Being Represented:</strong>
</p>

<p>
  <strong>Contact number:</strong>
</p>

<p>
  <strong>Fax number:</strong>
</p>

<p>
  <strong>Jurisdiction:</strong>
</p>


<%= link_to 'Edit', edit_user_path(@user) %>
<!-- %= link_to 'Back', users_path % -->
